USE [master]
GO
/****** Object:  Database [NguyenTuanTai_2110900037_Dbs]    Script Date: 04/03/2024 8:57:48 SA ******/
CREATE DATABASE [NguyenTuanTai_2110900037_Dbs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NguyenTuanTai_2110900037_Dbs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ADMINSERVER\MSSQL\DATA\NguyenTuanTai_2110900037_Dbs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NguyenTuanTai_2110900037_Dbs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ADMINSERVER\MSSQL\DATA\NguyenTuanTai_2110900037_Dbs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NguyenTuanTai_2110900037_Dbs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NguyenTuanTai_2110900037_Dbs]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 04/03/2024 8:57:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_ID] [int] NOT NULL,
	[DEPT_NAME] [varchar](255) NOT NULL,
	[DEPT_NO] [varchar](50) NOT NULL,
	[LOCATION] [varchar](250) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 04/03/2024 8:57:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_ID] [numeric](19, 0) NOT NULL,
	[EMP_NAME] [varchar](50) NOT NULL,
	[EMP_NO] [varchar](50) NOT NULL,
	[HIRE_DATE] [datetime] NOT NULL,
	[IMAGE] [image] NULL,
	[JOB] [varchar](50) NOT NULL,
	[SALARY] [float] NOT NULL,
	[DEPT_ID] [int] NOT NULL,
	[MNG_ID] [numeric](19, 0) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY_GRADE]    Script Date: 04/03/2024 8:57:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY_GRADE](
	[GRADE] [int] NOT NULL,
	[HIGH_SALARY] [float] NOT NULL,
	[LOW_SALARY] [float] NOT NULL,
 CONSTRAINT [PK_SALARY_GRADE] PRIMARY KEY CLUSTERED 
(
	[GRADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMEKEEPER]    Script Date: 04/03/2024 8:57:48 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMEKEEPER](
	[Timekeeper_Id] [varchar](50) NOT NULL,
	[Date_Time] [datetime] NOT NULL,
	[In_Out] [char](1) NOT NULL,
	[EMP_ID] [numeric](19, 0) NOT NULL,
 CONSTRAINT [PK_TIMEKEEPER] PRIMARY KEY CLUSTERED 
(
	[Timekeeper_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_DEPARTMENT] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_DEPARTMENT]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_EMPLOYEE] FOREIGN KEY([MNG_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_EMPLOYEE]
GO
ALTER TABLE [dbo].[TIMEKEEPER]  WITH CHECK ADD  CONSTRAINT [FK_TIMEKEEPER_EMPLOYEE] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[TIMEKEEPER] CHECK CONSTRAINT [FK_TIMEKEEPER_EMPLOYEE]
GO
USE [master]
GO
